.listMovies {
    background-color: rgb(235, 235, 235);
    max-width: 1200px;
    margin: 100px auto;
}
.movies {
    margin: 0;
    display: flex
}
.movies img {
    margin: 0;
    padding: 20px;
    height: 280px;
    width: 200px;
}

.active {
    border: 1px gray solid;
}

.listOfImagesContainer {
    display: flex;
    flex-flow: column;
    width: 240px;
}