.menuNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.menuNavItem {
    float: left;
    position: relative;
    display: block;
}

.menuNavItemLink {
    padding: 14px 20px!important;
    padding-bottom: 10px!important;
    color: rgb(142, 140, 140);
    position: relative;
    display: block;
    line-height: 30px;
    text-decoration: none!important;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
    font-size: 20px;
}