.containerMovie {
    width: 100%;
    border: 1px rgb(29, 5, 66) solid;
    display: flex;
}

.imageMovies {
    padding: 2px 20px 0 5px;
    height: 300px;
    width: 20%;
    background: yellow;
}

.imageMovies img {
    height: 280px;
    width: 200px;
}

.informationAboutMovies {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

h1 {
    color: #666666;
    font-size: 20px;
    margin: 0.35em 0 0.25em;
    padding: 0;
}

.descriptionMovies {
    font-size: 15px;
    color: #666666;
}