.search {
    padding: 10px;
    color: #d5d5d5;
    width: 45%;
    flex: 1;
    position: relative;
    height: 48px;
}
.searchInput {
    color: #333;
    background: #dee0e1;
    border: 1px solid #aec6d0;
    height: 100%;
}
::-webkit-input-placeholder {
    font-size: 18px;
}
.formControl {
    width: 100%;
    height: 54px;
    padding: 5px 5px 5px 20px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.searchIcon {
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 0px;
    font-size: 25px;
    color: #183f4e;
    cursor: pointer;
}
.searchIcon:before {
    content: "\039e";
}

.searchBy {
    display: inline;
    position: relative;
    font-size: 1.3em;
    margin-right: 40px; 
    margin-left: 20px; 
}

.searchByTitle {
    position: relative;
    font-size: 1em;
    width: 100px;
    text-align: center;
    height: 40px;
}

.searchByGenre {
    position: relative;
    font-size: 1em; 
    width: 100px;
    text-align: center;
    height: 40px;
}