.search {
    padding: 10px;
    color: #d5d5d5;
    width: 45%;
    flex: 1;
    position: relative;
    height: 66px;
}
.searchInput {
    color: #333;
    background: #dee0e1;
    border: 1px solid #aec6d0;
    height: 100%;
    margin-left: 130px;
    width: 80%;
    height: 54px;
    padding: 5px 5px 5px 20px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
::-webkit-input-placeholder {
    font-size: 20px;
}
.searchIcon {
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 0px;
    font-size: 25px;
    color: #183f4e;
    cursor: pointer;
}
.searchIcon:before {
    content: "\039e";
}

.searchBy {
    display: inline;
    position: relative;
    font-size: 1.3em;
    margin-right: 10px; 
    margin-left: -30px; 
    color: rgb(185, 185, 185);
}