.listMovies {
    background-color: rgb(235, 235, 235);
    max-width: 1200px;
    margin: 0 auto;
}
.movies {
    margin: 0;
}
.movies img {
    margin: 0;
    padding: 20px;
    height: 280px;
    width: 200px;
}